build/
outputs/*
!outputs/.gitkeep
third_party/_apt/
third_party/_deps/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.obj
!data/meshes/*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.vcxproj*
*.sln
*.user
.vs/
